<%- include("./includes/head") %>

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

  <div class="main-title">
    <h1>Quiz Matematyczny</h1>
  </div>
  <div class="main">
    <h1 class="sub-title">🎉 Quiz Zakończony!</h1>
    <p class="blockd" style="margin-bottom: 0;"><b>Poprawne odpowiedzi: </b> <span class="code_style">
        <%= correct_answers %>/<%= questions.length %>
      </span> (<%= Math.floor((parseInt(correct_answers) / questions.length) * 100) %>%)
        <div class="progress-bar">
          <div class="progress-bar-fill"></div>
        </div>
    </p>

    <style>
      .progress-bar {
        height: 15px;
        width: 50%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.25);
        border: 2px solid #7b3df6;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 35px;
        overflow: hidden;
      }

      .progress-bar-fill {
        height: 100%;
        background-color: #7b3df6;
        border-radius: inherit;
        transition: width 0.25s;
        margin-left: -2px;
        animation: progress-bar-fill 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: <%=Math.floor((parseInt(correct_answers) / questions.length) * 100) %>%;
      }

      @keyframes progress-bar-fill {
        0% {
          width: 0%;
        }

        100% {
          width: <%=Math.floor((parseInt(correct_answers) / questions.length) * 100) %>%;
        }
      }
    </style>
    <a class="link_button standard" href="<%= domain %>/">🎉 Zacznij quiz od nowa!</a>
  </div>

  <script type="text/javascript">
    window.addEventListener("load", function () {
      setTimeout(function () {
        confetti({
          particleCount: 150,
          spread: 180
        });
      }, 200);
    })
  </script>

  <%- include("./includes/footer") %>